@model SCM.Models.ViewModels.TenantMulticastGroupViewModel

@{
    ViewData["Title"] = "Delete";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantMulticastGroup/GetAllByTenantID/@Model.TenantID">Multicast Groups - [@Model.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Delete - [@Model.Name]</li>
</ol>

<h2>Delete Tenant Multicast Group Range '@Model.Name'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsSsmGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSsmGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TenantMulticastGroupID" />
        <input type="hidden" asp-for="TenantID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <button type="submit" id="Delete" class="btn btn-info btn-danger" asp-action="Delete">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
            </button> |
            <a asp-action="GetAllByTenantID" asp-route-id="@Model.TenantID">Back to List</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
