@model SCM.Models.ViewModels.TenantMulticastGroupViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantMulticastGroup/GetAllByTenantID/@Model.TenantID">Multicast Groups - [@ViewBag.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Details - [@Model.Name]</li>
</ol>

<h2>Details for Multicast Group Range '@Model.Name'</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSsmGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSsmGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowExtranet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowExtranet)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenantMulticastGroupID}) |
    <a asp-action="GetAllByTenantID" asp-route-id="@Model.TenantID">Back to List</a>
</div>
