@model IEnumerable<Mind.WebUI.Models.VpnViewModel>
@{
    ViewData["Title"] = "VPNs";
}
<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i> Tenants</a></li>
        <li><a href="#"><i class="fa active" aria-hidden="true"></i>VPNs - [@ViewBag.Tenant.Name]</a></li>
    </ul>
</div>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h2>VPNs for Tenant '@ViewBag.Tenant.Name'</h2>
<p>
    <a mind-create-btn-link="true" asp-action="Create" asp-route-tenantId="@ViewBag.Tenant.TenantId"
       data-toggle="tooltip" data-placement="right"
       title="Create a new vpn">Create New</a>
</p>
<table class="table table-striped table-hover mind-grid" id="vpnsTable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopologyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="mind-grid-body-scroll-lg">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input id="vpn_checkbox_@item.VpnId" type="checkbox" class="form-check-input custom-control-input"
                               data-action-url="/v1/tenants/@item.TenantId/vpns/@item.VpnId/sync" data-query-parameter="vpnId=" data-property-val="@item.VpnId" />
                        <label class="form-check-label custom-control-label" for="vpn_checkbox_@item.VpnId"></label>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopologyType)
                </td>
                <td>
                    <span mind-pill-network-status="@item.NetworkStatus">@item.NetworkStatus</span>
                </td>
                <td align="right">
                    <a mind-grid-btn-link="true" asp-action="Edit" asp-route-vpnId="@item.VpnId">Edit</a>
                    <a mind-grid-btn-link="true" asp-action="Details" asp-route-vpnId="@item.VpnId">Details</a>
                    <a mind-grid-btn-link="true" asp-action="Delete" asp-route-vpnId="@item.VpnId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" name="tenantId" id="tenantId" value="@ViewBag.Tenant.TenantId" />
<div class="card-deck" style="width: 27%">
    <a id="syncToNetworkCard" href="/#" data-action="sync-to-network" class="card custom-card bg-light">
        <img class="card-img-top mx-auto d-block" src="~/images/network-sync.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-center">Synchronize with Sigma</h5>
            <p class="card-text">Synchronise the configuration of the VPN with the Sigma network</p>
        </div>
    </a>
</div>
<br />
<a mind-nav-link-back-btn="true" asp-controller="Tenant" asp-action="GetAll">Back to Tenants</a>

<!-- List item selection modal messages partial view -->
@{await Html.RenderPartialAsync("_ListItemsModalMessagesPartial");}

<!-- Network Sync modal messages partial view -->
@{await Html.RenderPartialAsync("_NetworkSyncModalMessagesPartial");}

<!-- Loading Spinner partial view -->
@{await Html.RenderPartialAsync("_LoadingSpinnerPartial");}

@section Scripts {
    @{await Html.RenderPartialAsync("_VpnMainScriptsPartial");}
}
