@model SCM.Models.ViewModels.LogicalInterfaceViewModel

@{
    ViewData["Title"] = "Delete Logical Interface";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllByTenantID?tenantID=@ViewBag.Attachment.TenantID">Tenant Attachments - [@ViewBag.Attachment.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllLogicalInterfacesByAttachmentID?attachmentID=@ViewBag.Attachment.AttachmentID">Logical Interfaces - [@ViewBag.Attachment.Name]</a></li>
    <li class="breadcrumb-item active">Delete - [@Model.Name]</li>
</ol>

<h2>Delete Logical Interface '@Model.Name'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoutingInstance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoutingInstance.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubnetMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubnetMask)
        </dd>
    </dl>

    <form asp-action="DeleteLogicalInterface">
        <input type="hidden" asp-for="LogicalInterfaceID" />
        <input type="hidden" asp-for="RowVersion" />
        <input type="hidden" name="AttachmentID" value="@ViewBag.Attachment.AttachmentID" />
        <div class="form-actions no-color">
            <button type="submit" id="Delete" class="btn btn-danger" asp-action="DeleteLogicalInterface">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;Delete
            </button> |
            <a asp-action="GetAllLogicalInterfacesByAttachmentID" asp-route-attachmentID="@ViewBag.Attachment.AttachmentID">Back to Logical Interfaces List</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}