@model Mind.WebUI.Models.AttachmentSetViewModel

@{
    ViewData["Title"] = "Attachment Set Details";
}

<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i>Tenants</a></li>
        <li><a href="/AttachmentSet/GetAllByTenantId?tenantId=@Model.TenantId"><i class="fa" aria-hidden="true"></i>Attachment Sets - [@Model.TenantName]</a></li>
        <li><a href="#"><i class="fa active" aria-hidden="true"></i>Details - [@Model.Name]</a></li>
    </ul>
</div>

<h2>Details for Attachment Set '@Model.Name'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentRedundancy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentRedundancy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLayer3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLayer3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubRegion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubRegion)
        </dd>
    </dl>
    <br />
    <h3>@Html.DisplayNameFor(model => model.AttachmentSetRoutingInstances)</h3>
    <hr />
    @foreach (var item in Model.AttachmentSetRoutingInstances)
    {
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(x => item.RoutingInstance.Name)
            </dt>
            <dd>
                @Html.DisplayFor(x => item.RoutingInstance.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(x => item.RoutingInstance.ProviderDomainLocationName)
            </dt>
            <dd>
                @Html.DisplayFor(x => item.RoutingInstance.ProviderDomainLocationName)
            </dd>
            <dt>
                @Html.DisplayNameFor(x => item.RoutingInstance.ProviderPlaneName)
            </dt>
            <dd>
                @Html.DisplayFor(x => item.RoutingInstance.ProviderPlaneName)
            </dd>
        </dl>
        <hr />
    }
    </div>
<form asp-action="">
    <div class="form-actions no-color">
        <a mind-edit-btn-link="true" asp-action="Edit" asp-route-attachmentSetId="@Model.AttachmentSetId">Edit</a> |
        <a mind-nav-link-back-btn="true" asp-action="GetAllByTenantID" asp-route-tenantID="@Model.TenantId">Back to Attachment Sets</a>
    </div>
</form>