@model IEnumerable<Mind.WebUI.Models.AttachmentSetViewModel>

@{
    ViewData["Title"] = "Attachment Sets";
}

<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i>Tenants</a></li>
        <li><a href="/AttachmentSet/GetAllByTenantId=@ViewBag.Tenant.TenantId"><i class="fa" aria-hidden="true"></i>Attachment Sets - [@ViewBag.Tenant.Name]</a></li>
    </ul>
</div>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}


<h2>Attachment Sets for Tenant '@ViewBag.Tenant.Name'</h2>

<p>
    <a mind-create-btn-link="true" asp-action="Create" asp-route-tenantId="@ViewBag.Tenant.TenantId"
       data-toggle="tooltip" data-placement="right"
       title="Create a new attachment set">Create New</a>
</p>
<p>

<table class="table table-striped table-hover" id="attachmentsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLayer3)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLayer3)
                </td>
                <td align="right">
                    <a mind-grid-btn-link="true" asp-action="Edit" asp-route-AttachmentSetId="@item.AttachmentSetId">Edit</a>
                    <a mind-grid-btn-link="true" asp-action="Details" asp-route-AttachmentSetId="@item.AttachmentSetId">Details</a>
                    <a mind-grid-btn-link="true" asp-action="Delete" asp-route-AttachmentSetId="@item.AttachmentSetId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" name="tenantId" id="tenantId" value="@ViewBag.Tenant.TenantId" />

<a mind-nav-link-back-btn="true" asp-controller="Tenant" asp-action="GetAll">Back to Tenants</a>


@section Scripts {
    <script type="text/javascript">

        (function ($) {

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

        }(jQuery));

    </script>
 }
