@model SCM.Models.ViewModels.VpnTenantMulticastGroupViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@Model.AttachmentSet.TenantID">Attachment Sets- [@Model.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantMulticastGroup/GetAllByAttachmentSetID/@Model.AttachmentSet.AttachmentSetID">VPN Tenant Multicast Groups - [@Model.AttachmentSet.Name]</a></li>
    <li class="breadcrumb-item active">Details - [@Model.TenantMulticastGroup.Name]</li>
</ol>


<h2>Details for Multicast Group Range '@Model.TenantMulticastGroup.Name'</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantMulticastGroup.IsSsmGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantMulticastGroup.IsSsmGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MulticastVpnRp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MulticastVpnRp.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantMulticastGroup.SourceAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantMulticastGroup.SourceAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantMulticastGroup.SourceMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantMulticastGroup.SourceMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantMulticastGroup.GroupAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantMulticastGroup.GroupAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantMulticastGroup.GroupMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantMulticastGroup.GroupMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MulticastGeographicalScope)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MulticastGeographicalScope.Name)
        </dd>
    </dl>
</div>
<form asp-action="">
    <input type="hidden" asp-for="AttachmentSetID" name="id"/>
    <div class="form-actions no-color">
        <a asp-action="GetAllByAttachmentSetID" asp-route-id="@Model.AttachmentSetID">Back to List</a>
    </div>
</form>
