@model SCM.Models.ViewModels.LocationViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/Index">Infrastructure</a></li>
    <li class="breadcrumb-item"><a href="/Region/GetAll">Regions</a></li>
    <li class="breadcrumb-item"><a href="/SubRegion/GetAllByRegionID/@ViewBag.SubRegion.RegionID">Sub-Regions - [@ViewBag.SubRegion.Region.Name]</a></li>
    <li class="breadcrumb-item"><a href="/Location/GetAllBySubRegionID/@Model.SubRegionID">Locations - [@ViewBag.SubRegion.Name]</a></li>
    <li class="breadcrumb-item active">Details - [@Model.SiteName]</li>
</ol>

<h2>Details for Location '@Model.SiteName'</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubRegion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubRegion.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubRegion.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubRegion.Region.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocaleCommunityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocaleCommunityName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationID }) |
    <a asp-action="GetAllBySubRegionID" asp-route-id="@Model.SubRegionID">Back to List</a>
</div>
