@model IEnumerable<SCM.Models.ViewModels.BgpPeerViewModel>

@{
    ViewData["Title"] = "BGP Peers";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllByTenantID?tenantID=@ViewBag.Attachment.TenantID">Tenant Attachments - [@ViewBag.Attachment.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">BGP Peers - [@ViewBag.Attachment.Name]</li>
</ol>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h2>BGP Peers for Routing Instance '@ViewBag.Attachment.RoutingInstance.Name'</h2>
<p>
    <a asp-action="Create" asp-route-routingInstanceID="@ViewBag.Attachment.RoutingInstance.RoutingInstanceID" 
       asp-route-attachmentID="@ViewBag.Attachment.AttachmentID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoutingInstance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ipv4PeerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peer2ByteAutonomousSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumRoutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBfdEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMultiHop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoutingInstance.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ipv4PeerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peer2ByteAutonomousSystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumRoutes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBfdEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsMultiHop)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { bgpPeerID = item.BgpPeerID, attachmentID = ViewBag.Attachment.AttachmentID }) |
                    @Html.ActionLink("Details", "Details", new { bgpPeerID = item.BgpPeerID, attachmentID = ViewBag.Attachment.AttachmentID }) |
                    @Html.ActionLink("Delete", "Delete", new { bgpPeerID = item.BgpPeerID, attachmentID = ViewBag.Attachment.AttachmentID })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="GetAllByTenantID" asp-controller="TenantAttachment" asp-route-tenantID="@ViewBag.Attachment.TenantID">Back to Attachments</a>
</div>
