@model SCM.Models.ViewModels.VpnAttachmentSetViewModel
@using SCM.Models.ViewModels;

@{
    ViewData["Title"] = "Edit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPNs</a></li>
    <li class="breadcrumb-item"><a href="/VpnAttachmentSet/GetAllByVpnID/@Model.Vpn.VpnID">VPN Attachment Sets - [@Model.Vpn.Name]</a></li>
    <li class="breadcrumb-item active">Edit - [@Model.AttachmentSet.Name]</li>
</ol>

<h2>Edit Attachment Set '@Model.AttachmentSet.Name' for VPN '@Model.Vpn.Name'</h2>

<form id="CreateStep2Form" asp-action="Create">
    <div class="form-horizontal">
        <hr />
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
        <input type="hidden" asp-for="VpnAttachmentSetID"/>
        <input type="hidden" asp-for="AttachmentSetID"/>
        <input type="hidden" asp-for="VpnID" />
        <input type="hidden" asp-for="RowVersion" />
        <input type="hidden" id="IsMulticastVpn" value="@Model.Vpn.IsMulticastVpn.ToString()" />
        <input type="hidden" id="VpnTopologyType" value="@Model.Vpn.VpnTopologyType.TopologyType" />
@if (Model.Vpn.VpnTopologyType.TopologyType == TopologyType.HubandSpoke)
{
    @if (Model.Vpn.IsMulticastVpn)
    {
        <input type="hidden" id="MulticastVpnDirectionType" value="@Model.Vpn.MulticastVpnDirectionType.Name" />
    }
}
@if (Model.Vpn.VpnTopologyType.TopologyType == TopologyType.HubandSpoke)
{
        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline">
                    <input type="checkbox" asp-for="IsHub" data-toggle="tooltip" title="Designate the Attachment Set as a hub for the VPN">
                    <label asp-for="IsHub"></label>
                </label>
            </div>
        </div>
}
@if (Model.Vpn.IsMulticastVpn)
{
            <div class="form-group">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" asp-for="IsMulticastDirectlyIntegrated" data-toggle="tooltip" 
                               title="Directly-Integrate the Attachment Set with the Tenant Multicast Domain">
                        <label asp-for="IsMulticastDirectlyIntegrated"></label>
                    </label>
                </div>
            </div>
}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="Edit" class="btn btn-success" asp-action="Edit">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Save
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="GetAllByVpnID" asp-route-id="@Model.Vpn.VpnID">Back to Attachment Sets</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
