@model SCM.Models.ViewModels.ExtranetVpnMemberViewModel

@{
    ViewData["Title"] = "Remove";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPNs</a></li>
    <li class="breadcrumb-item"><a href="/ExtranetVonMember/GetAllByMemberVpnID/@Model.MemberVpn.VpnID">Extranet VPN Memberships - [@Model.MemberVpn.Name]</a></li>
    <li class="breadcrumb-item active">Remove - [@Model.ExtranetVpn.Name]</li>
</ol>

<h2>Remove Member VPN '@Model.MemberVpn.Name' from Extranet VPN '@Model.ExtranetVpn.Name'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h3>Are you sure you want to remove Member VPN '@Model.MemberVpn.Name' ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberVpn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberVpn.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExtranetVpn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExtranetVpn.Name)
        </dd>
    </dl>

    <form asp-action="DeleteByExtranetVpn">
        <input type="hidden" asp-for="ExtranetVpnMemberID" />
        <input type="hidden" asp-for="MemberVpnID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <button type="submit" id="Delete" class="btn btn-info btn-danger" asp-action="DeleteByMemberVpn">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;Remove
            </button> |
            <a asp-action="GetAllByMemberVpnID" asp-route-id="@Model.MemberVpn.VpnID">Back to Extranet VPN Memberships</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
