@model SCM.Models.ViewModels.VpnTenantMulticastGroupViewModel

@{
    ViewData["Title"] = "Remove Multicast Group";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@Model.AttachmentSet.TenantID">Attachment Sets- [@Model.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantMulticastGroup/GetAllByAttachmentSetID/@Model.AttachmentSet.AttachmentSetID">Multicast Groups - [@Model.AttachmentSet.Name]</a></li>
    <li class="breadcrumb-item active">Delete - [@Model.TenantMulticastGroup.Name]</li>
</ol>

<h2>Remove Tenant Multicast Group Range '@Model.TenantMulticastGroup.Name'</h2>


@{await Html.RenderPartialAsync("_MessagingPartial");}

<h3>Are you sure you want to remove this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantMulticastGroup.SourceAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantMulticastGroup.SourceAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantMulticastGroup.SourceMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantMulticastGroup.SourceMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantMulticastGroup.GroupAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantMulticastGroup.GroupAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantMulticastGroup.GroupMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantMulticastGroup.GroupMask)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VpnTenantMulticastGroupID" />
        <input type="hidden" asp-for="AttachmentSetID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <button type="submit" id="Delete" class="btn btn-info btn-danger" asp-action="Delete">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;Remove
            </button> |
            <a asp-action="GetAllByAttachmentSetID" asp-route-id="@Model.AttachmentSetID">Back to List</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}