@model IEnumerable<SCM.Models.ViewModels.VpnTenantIpNetworkInViewModel>

@{
    ViewData["Title"] = "Tenant IP Networks In";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@ViewBag.AttachmentSet.TenantID">Attachment Sets- [@ViewBag.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Tenant IP Networks Inbound Policy - [@ViewBag.AttachmentSet.Name]</li>
</ol>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h2>Inbound Tenant IP Network Policy for Attachment Set '@ViewBag.AttachmentSet.Name'</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.AttachmentSet.AttachmentSetID">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenantIpNetwork)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantIpNetwork.CidrName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VpnTenantIpNetworkInID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.VpnTenantIpNetworkInID }) |
                    @Html.ActionLink("Remove", "Delete", new { id = item.VpnTenantIpNetworkInID }) |
                    @Html.ActionLink("Communities", "GetAllByVpnTenantIpNetworkInID", "VpnTenantIpNetworkCommunityIn", new { id = item.VpnTenantIpNetworkInID })
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="AttachmentSet" asp-action="GetAllByTenantID" asp-route-id="@ViewBag.AttachmentSet.TenantID">Back to Attachment Sets</a>