@model SCM.Models.ViewModels.RoutingInstanceViewModel
@inject IOptions<ApplicationConfiguration> ApplicationConfiguration
@using Microsoft.Extensions.Options;
@using SCM;

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantAttachment/GetAllByTenantID?tenantID=@ViewBag.Attachment.TenantID">Tenant Attachments - [@ViewBag.Attachment.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/TenantVif/GetAllByAttachmentID/@ViewBag.Attachment.AttachmentID">Tenant VIFs - [@ViewBag.Attachment.Name]</a></li>
    <li class="breadcrumb-item active">VRF - [@ViewBag.Vif.Name]</li>
</ol>

<h2>Details for VRF '@Model.Name'</h2>

@if (ApplicationConfiguration.Value.EnableNetworkSync)
{

    // Show Network messages if Network Sync functionality is enabled
    await Html.RenderPartialAsync("_NetworkMessagingPartial");
}

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<div>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.RoutingInstanceType.IsVrf)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Tenant)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tenant.Name)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        @if (Model.RoutingInstanceType.IsVrf)
        {
            <dt>
                @Html.DisplayNameFor(model => model.AdministratorSubField)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdministratorSubField)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AssignedNumberSubField)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AssignedNumberSubField)
            </dd>
        }
    </dl>
</div>
<form asp-action="">
    <input type="hidden" asp-for="RoutingInstanceID" name="id" />
    <div class="form-actions no-color">
        @Html.ActionLink("Edit", "EditRoutingInstance", new { id = ViewBag.Vif.VifID }) |
        <a asp-controller="TenantVif" asp-action="GetAllByAttachmentID" asp-route-id="@ViewBag.Vif.AttachmentID">Back to Tenant VIFs List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
