@model Mind.WebUI.Models.InfrastructureRoutingInstanceViewModel

@{
    ViewData["Title"] = "Attachment Details";
}

<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/InfrastructureHome"><i class="fa" aria-hidden="true"></i>Infrastructure</a></li>
        <li><a href="/InfrastructureDevice/GetAll"><i class="fa" aria-hidden="true"></i>Infrastructure Devices</a></li>
        <li><a href="/InfrastructureRoutingInstance/GetAllByDeviceID?deviceId=@Model.DeviceId"><i class="fa" aria-hidden="true"></i>Infrastructure Routing Instance - [@Model.InfrastructureDeviceName]</a></li>
        <li class="active"><a href="#"><i class="fa" aria-hidden="true"></i>Details - [@Model.Name]</a></li>
    </ul>
</div>

<h2>Details for Attachment '@Model.Name'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InfrastructureDeviceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InfrastructureDeviceName)
        </dd>
        @if (Model.IsDefault)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsDefault)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsDefault)
            </dd>
        }
        @if (Model.IsInfrastructureVrf)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsInfrastructureVrf)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsInfrastructureVrf)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AdministratorSubField)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AdministratorSubField)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AssignedNumberSubField)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AssignedNumberSubField)
            </dd>
        }
    </dl>
</div>
<hr />
<form asp-action="">
    <div class="form-actions no-color">
        <a mind-nav-link-back-btn="true" asp-action="GetAllByDeviceID" asp-route-deviceId="@Model.DeviceId">Back to Routing Instances</a>
    </div>
</form>