@model SCM.Models.ViewModels.VpnTenantIpNetworkCommunityInViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@Model.VpnTenantIpNetworkIn.AttachmentSet.TenantID">Attachment Sets- [@Model.VpnTenantIpNetworkIn.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantIpNetworkIn/GetAllByVpnAttachmentSetID/@Model.VpnTenantIpNetworkIn.AttachmentSetID">Tenant Network Inbound Policy - [@Model.VpnTenantIpNetworkIn.AttachmentSet.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantNetworkCommunityIn/GetAllByVpnTenantNetworkInID/@Model.VpnTenantIpNetworkIn.VpnTenantIpNetworkInID">VPN Tenant IP Network Communities - [@Model.VpnTenantIpNetworkIn.TenantIpNetwork.CidrName]</a></li>
    <li class="breadcrumb-item active">Details - [@Model.TenantCommunity.Name]</li>
</ol>

<h2>Details</h2>

<div>
    <h4>Tenant Community for Tenant Network '@Model.VpnTenantIpNetworkIn.TenantIpNetwork.CidrName'</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VpnTenantIpNetworkIn.TenantIpNetwork.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpnTenantIpNetworkIn.TenantIpNetwork.Tenant.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VpnTenantIpNetworkIn.TenantIpNetwork)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpnTenantIpNetworkIn.TenantIpNetwork.CidrName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantCommunity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantCommunity.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetAllByVpnTenantIpNetworkInID" asp-route-id="@Model.VpnTenantIpNetworkInID">Back to List</a>
</div>
