@model IEnumerable<SCM.Models.ViewModels.VpnTenantIpNetworkCommunityInViewModel>

@{
    ViewData["Title"] = "Tenant IP Network Communities";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@ViewBag.VpnTenantIpNetworkIn.AttachmentSet.TenantID">Attachment Sets- [@ViewBag.VpnTenantIpNetworkIn.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/VpnTenantIpNetworkIn/GetAllByAttachmentSetID/@ViewBag.VpnTenantIpNetworkIn.AttachmentSetID">Tenant IP Network Inbound Policy - [@ViewBag.VpnTenantIpNetworkIn.AttachmentSet.Name]</a></li>
    <li class="breadcrumb-item active">VPN Tenant IP Network Communities - [@ViewBag.VpnTenantNetworkIn.TenantIpNetwork.CidrName]</li>
</ol>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h2>Communities for Tenant IP Network '@ViewBag.VpnTenantIpNetworkIn.TenantIpNetwork.CidrName'</h2>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.VpnTenantIpNetworkIn.VpnTenantNetworkInID">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VpnTenantIpNetworkIn.TenantIpNetwork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenantCommunity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VpnTenantIpNetworkIn.TenantIpNetwork.CidrName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantCommunity.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.VpnTenantIpNetworkCommunityInID }) |
                    @Html.ActionLink("Remove", "Delete", new { id = item.VpnTenantIpNetworkCommunityInID })
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="VpnTenantIpNetworkIn" asp-action="GetAllByAttachmentSetID" asp-route-id="@ViewBag.VpnTenantIpNetworkIn.AttachmentSetID">Back to Tenant IP Network Inbound Policy</a>