@model IEnumerable<SCM.Models.ViewModels.DeviceRolePortRoleViewModel>

@{
    ViewData["Title"] = "Device Role Port Roles";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/Index">Infrastructure</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/GetAllDeviceRoles">Device Roles</a></li>
    <li class="breadcrumb-item active">Port Roles - [@ViewBag.DeviceRole.Name]</li>
</ol>

<h2>Port Roles for Device Role '@ViewBag.DeviceRole.Name'</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortRole.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceRole.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortRole.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortRole.Description)
            </td>
            <td>
                <a asp-action="GetAllPortPoolsByPortRoleID" asp-route-portRoleID="@item.PortRole.PortRoleID" asp-route-deviceRoleID="@ViewBag.DeviceRole.DeviceRoleID">Port Pools</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="GetAllDeviceRoles">Back to Device Roles</a>
