@model SCM.Models.ViewModels.TenantCommunitySetCommunityViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantCommunitySet/GetAllByTenantID/@Model.TenantCommunitySet.TenantID">Community Sets - [@Model.TenantCommunitySet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/TenantCommunitySetCommunity/GetAllByTenantCommunitySetID/@Model.TenantCommunitySet.TenantCommunitySetID">Communities - [@Model.TenantCommunitySet.Name]</a></li>
    <li class="breadcrumb-item active">Details - [@Model.TenantCommunity.Name]</li>
</ol>

<h2>Details for Tenant Community '@Model.TenantCommunity.Name'</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantCommunitySet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantCommunitySet.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenantCommunity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenantCommunity.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetAllByTenantCommunitySetID" asp-route-id="@Model.TenantCommunitySet.TenantCommunitySetID">Back to List</a>
</div>
