@model SCM.Models.ViewModels.AttachmentSetRoutingInstanceViewModel
@{
    ViewData["Title"] = "Remove VRF";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSet/GetAllByTenantID/@ViewBag.AttachmentSet.TenantID">Attachment Sets - [@ViewBag.AttachmentSet.Tenant.Name]</a></li>
    <li class="breadcrumb-item"><a href="/AttachmentSetRoutingInstance/GetAllByAttachmentSetID/@ViewBag.AttachmentSet.AttachmentSetID">Attachment Set VRFs - [@ViewBag.AttachmentSet.Name]</a></li>
    <li class="breadcrumb-item active">Delete - [@Model.RoutingInstance.Name]</li>
</ol>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h3>Are you sure you want to remove this VRF from the Attachment Set?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoutingInstance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoutingInstance.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentSet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentSet.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AttachmentSetRoutingInstanceID" />
        <input type="hidden" asp-for="AttachmentSetID" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <button type="submit" id="Delete" class="btn btn-info btn-danger" asp-action="Delete">
                <span class="glyphicon glyphicon-remove"></span>&nbsp;Remove
            </button>
            <a asp-action="GetAllByAttachmentSetID" asp-route-id="@ViewBag.AttachmentSet.AttachmentSetID">Back to VRFs</a>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
