@model IEnumerable<SCM.Models.ViewModels.ExtranetVpnMemberViewModel>
@inject IOptions<ApplicationConfiguration> ApplicationConfiguration
@using Microsoft.Extensions.Options;
@using SCM;

@{
    ViewData["Title"] = "Extranet VPN Memberships";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPNs</a></li>
    <li class="breadcrumb-item active">Extranet VPN Memberships - [@ViewBag.MemberVpn.Name]</li>
</ol>

@if (ApplicationConfiguration.Value.EnableNetworkSync)
{

    // Show Network messages if Network Sync functionality is enabled
    await Html.RenderPartialAsync("_NetworkMessagingPartial");
}

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h2>Extranet VPN Membership for VPN '@ViewBag.MemberVpn.Name'</h2>

<p>
    <a asp-action="CreateByMemberVpn" asp-route-id="@ViewBag.MemberVpn.VpnID">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExtranetVpn.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtranetVpn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberVpn.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberVpn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtranetVpn.Tenant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtranetVpn.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberVpn.Tenant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberVpn.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "DetailsByMemberVpn", new { id = item.ExtranetVpnMemberID }) |
                    @Html.ActionLink("Remove", "DeleteByMemberVpn", new { id = item.ExtranetVpnMemberID, memberVpnID = item.MemberVpnID }) |
                    @Html.ActionLink("Networks", "GetAllByExtranetVpnMemberID", "ExtranetVpnTenantNetworkIn", new { id = item.ExtranetVpnMemberID }) |
                    @Html.ActionLink("Communities", "GetAllByExtranetVpnMemberID", "ExtranetVpnTenantCommunityIn", new { id = item.ExtranetVpnMemberID })
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Vpn" asp-action="GetAll">Back to VPNs</a>
</div>