@model IEnumerable<Mind.WebUI.Models.TenantDomainDeviceViewModel>
@{
    ViewData["Title"] = "Tenant Domain Attachments";
}
<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i> Tenants</a></li>
        <li><a href="#"><i class="fa active" aria-hidden="true"></i>Tenant Domain Devices - [@ViewBag.Tenant.Name]</a></li>
    </ul>
</div>
@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}
@if (ViewData["SuccessMessage"] != null)
{
    @using (Html.BeginForm("ClearCreatedAlerts", "TenantDomainDevice", FormMethod.Post))
    {
        <input type="hidden" name="tenantId" value="@ViewBag.Tenant.TenantId" />
        <p>
            <button type="submit" class="btn btn-info btn-default" is-clear-alerts-button></button>
        </p>
    }
}
<h2>Devices for Tenant '@ViewBag.Tenant.Name'</h2>
<p>
    <a mind-create-btn-link="true" asp-action="Create" asp-route-tenantId="@ViewBag.Tenant.TenantId"
       data-toggle="tooltip" data-placement="right"
       title="Create a device within the Tenant Domain.
       For example, create a CE which is used to connect the Tenant Domain to the Provider Domain.">Create New</a>
</p>
<table class="table table-striped table-hover mind-grid" id="mainGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceModel)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="mind-grid-body-scroll-lg">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceModel)
            </td>
            <td colspan="2" align="right">
                <a mind-grid-btn-link="true" asp-action="Edit" asp-route-deviceId="@item.DeviceId">Edit</a>
                <a mind-grid-btn-link="true" asp-action="Details" asp-route-deviceId="@item.DeviceId">Details</a>
                <a mind-grid-btn-link="true" asp-action="Delete" asp-route-deviceId="@item.DeviceId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<input type="hidden" name="tenantId" id="tenantId" value="@ViewBag.Tenant.TenantId" />
<br />
<a mind-nav-link-back-btn="true" asp-controller="Tenant" asp-action="GetAll">Back to Tenants</a>

<!-- List item selection modal messages partial view -->
@{await Html.RenderPartialAsync("_ListItemsModalMessagesPartial");}

<!-- Loading Spinner partial view -->
@{await Html.RenderPartialAsync("_LoadingSpinnerPartial");}

@section Scripts {

    @{await Html.RenderPartialAsync("_TenantDomainDeviceMainScriptsPartial");}

}
