@model SCM.Models.ViewModels.DeviceViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Tenant/GetAll">Tenants</a></li>
    <li class="breadcrumb-item"><a href="/TenantDevice/GetAllByTenantID?tenantID=@Model.TenantID">Devices - [@Model.Tenant.Name]</a></li>
    <li class="breadcrumb-item active">Details - [@Model.Name]</li>
</ol>

<h2>Details for Device '@Model.Name'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceRole.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceStatus.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UseLayer2InterfaceMtu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UseLayer2InterfaceMtu)
        </dd>
    </dl>
</div>
<form asp-action="">
    <div class="form-actions no-color">
        @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceID }) |
        <a asp-action="GetAllByTenantID" asp-route-tenantID="@Model.TenantID">Back to List</a>
    </div>
</form>
