@model SCM.Models.ViewModels.ExtranetVpnTenantCommunityInViewModel

@{
    ViewData["Title"] = "Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Vpn/GetAll">VPNs</a></li>
    <li class="breadcrumb-item"><a href="/ExtranetVpnMember/GetAllByMemberVpnID/@Model.ExtranetVpnMember.MemberVpn.VpnID">Extranet VPN Memberships - [@Model.ExtranetVpnMember.MemberVpn.Name]</a></li>
    <li class="breadcrumb-item"><a href="/ExtranetVpnTenantCommunityIn/GetAllByExtranetVpnMemberID/@Model.ExtranetVpnMember.ExtranetVpnMemberID">Extranet VPN Tenant Communities - [@Model.ExtranetVpnMember.ExtranetVpn.Name]</a></li>
    <li class="breadcrumb-item active">Details - [@Model.VpnTenantCommunityIn.TenantCommunity.Name]</li>
</ol>

<h2>Details</h2>

<div>
    <h4>Tenant Community for Extranet VPN '@Model.ExtranetVpnMember.ExtranetVpn.Name'</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VpnTenantCommunityIn.TenantCommunity.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpnTenantCommunityIn.TenantCommunity.Tenant.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VpnTenantCommunityIn.TenantCommunity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpnTenantCommunityIn.TenantCommunity.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VpnTenantCommunityIn.AttachmentSet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VpnTenantCommunityIn.AttachmentSet.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetAllByExtranetVpnMemberID" asp-route-id="@Model.ExtranetVpnMemberID">Back to List</a>
</div>
