@model Mind.WebUI.Models.ProviderDomainVifViewModel

@{
    ViewData["Title"] = "VIF Details";
}

<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i> Tenants</a></li>
        <li><a href="/ProviderDomainAttachment/GetAllByTenantId?tenantId=@ViewBag.Attachment.TenantId"><i class="fa active" aria-hidden="true"></i>Attachments - [@ViewBag.Attachment.TenantName]</a></li>
        <li><a href="/ProviderDomainVif/GetAllByAttachmentId?attachmentId=@ViewBag.Attachment.AttachmentId"><i class="fa active" aria-hidden="true"></i>VIFs - [@ViewBag.Attachment.Name]</a></li>
        <li><a href="#"><i class="fa active" aria-hidden="true"></i>Details - [@Model.Name]</a></li>
    </ul>
</div>

<h2>Details for Attachment '@Model.Name'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VlanTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VlanTag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VifRoleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VifRoleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLayer3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLayer3)
        </dd>
        @if (Model.ContractBandwidthPool != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ContractBandwidthPool.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ContractBandwidthPool.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ContractBandwidthPool.ContractBandwidthMbps)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ContractBandwidthPool.ContractBandwidthMbps)
            </dd>
        }
        @if (Model.RoutingInstance != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.RoutingInstance.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RoutingInstance.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RoutingInstance.AdministratorSubField)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RoutingInstance.AdministratorSubField)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RoutingInstance.AssignedNumberSubField)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RoutingInstance.AssignedNumberSubField)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Mtu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mtu)
        </dd>
    </dl>
</div>
<hr />
<form asp-action="">
    <div class="form-actions no-color">
        <a mind-edit-btn-link="true" asp-action="Edit" asp-route-vifId="@Model.VifId">Edit</a> |
        <a mind-nav-link-back-btn="true" asp-action="GetAllByAttachmentID" asp-route-attachmentID="@Model.AttachmentId">Back to VIFs</a>
    </div>
</form>