@model IEnumerable<Mind.WebUI.Models.ProviderDomainVifViewModel>

@{
    ViewData["Title"] = "Provider Domain VIFs";
}

<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i> Tenants</a></li>
        <li><a href="/ProviderDomainAttachment/GetAllByTenantId?tenantId=@ViewBag.Attachment.TenantId"><i class="fa active" aria-hidden="true"></i>Attachments - [@ViewBag.Attachment.TenantName]</a></li>
        <li><a href="#"><i class="fa active" aria-hidden="true"></i>VIFs - [@ViewBag.Attachment.Name]</a></li>
    </ul>
</div>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

@if (ViewData["SuccessMessage"] != null)
{
    @using (Html.BeginForm("ClearCreatedAlerts", "ProviderDomainVif", FormMethod.Post))
    {
        <input type="hidden" name="attachmentId" value="@ViewBag.Attachment.AttachmentId" />
        <p>
            <button type="submit" class="btn btn-info btn-default" is-clear-alerts-button>
            </button>
        </p>
    }
}

<h2>VIFs for Attachment '@ViewBag.Attachment.Name'</h2>

<p>
    <a mind-create-btn-link="true" asp-action="Create" asp-route-attachmentId="@ViewBag.Attachment.AttachmentId"
       data-toggle="tooltip" data-placement="right"
       title="Create a VIF to connect a Tenant Domain to the Provider Domain across the tagged Attachment.
       For example, create a VIF on a PE to connect the PE to a data-center.">Create New</a>
</p>
<p>

<table class="table table-striped table-hover mind-grid" id="vifsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLayer3)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody class="mind-grid-body-scroll-lg">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLayer3)
                </td>
                <td align="right">
                    <a mind-grid-btn-link="true" asp-action="Edit" asp-route-vifId="@item.VifId">Edit</a>
                    <a mind-grid-btn-link="true" asp-action="Details" asp-route-vifId="@item.VifId">Details</a>
                    <a mind-grid-btn-link="true" asp-action="Delete" asp-route-vifId="@item.VifId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" name="attachmentId" id="attachmentId" value="@ViewBag.Attachment.TenantId" />

<a mind-nav-link-back-btn="true" asp-controller="ProviderDomainAttachment" asp-action="GetAllByTenantID" asp-route-tenantId="@ViewBag.Attachment.TenantId">Back to Attachments</a>


@section Scripts {
    <script type="text/javascript">

        (function ($) {

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

        }(jQuery));

    </script>
 }
