@model IEnumerable<Mind.WebUI.Models.AttachmentRoleViewModel>

@{
    ViewData["Title"] = "Attachment Roles";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/Index">Infrastructure</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/GetAllDeviceRoles">Device Roles</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/GetAllPortRolesByDeviceRoleID?deviceRoleID=@ViewBag.DeviceRole.DeviceRoleID">Port Roles - [@ViewBag.DeviceRole.Name]</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/GetAllPortPoolsByPortRoleID?portRoleID=@ViewBag.PortPool.PortRoleID&&deviceRoleID=@ViewBag.DeviceRole.DeviceRoleID">Port Pools - [@ViewBag.PortPool.PortRole.Name]</a></li>
    <li class="breadcrumb-item active">Attachment Roles - [@ViewBag.PortPool.Name]</li>
</ol>

<h2>Attachment Roles for Port Pool '@ViewBag.PortPool.Name'</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTaggedRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLayer3Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequireContractBandwidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportedByBundle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportedByMultiPort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTaggedRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLayer3Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequireContractBandwidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportedByBundle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportedByMultiPort)
            </td>
            <td>
            @if (item.IsTaggedRole)
            {
            <a asp-action="GetAllVifRolesByAttachmentRoleID" asp-route-attachmentRoleID="@item.AttachmentRoleId" asp-route-deviceRoleID="@ViewBag.DeviceRole.DeviceRoleID">VIF Roles</a>
            }
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="GetAllPortPoolsByPortRoleID" asp-route-portRoleID="@ViewBag.PortPool.PortRoleID" asp-route-deviceRoleID="@ViewBag.DeviceRole.DeviceRoleID">Back to Port Pools</a>
