@model Mind.WebUI.Models.TenantIpNetworkViewModel

@{
    ViewData["Title"] = "Tenant IP Network Details";
}

<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i> Tenants</a></li>
        <li><a href="/TenantIpNetwork/GetAllByTenantId?tenantId=@Model.TenantId"><i class="fa active" aria-hidden="true"></i>Tenant IP Networks - [@Model.TenantName]</a></li>
        <li class="active"><a href="#"><i class="fa" aria-hidden="true"></i>Details - [@Model.CidrNameIncludingIpv4LessThanOrEqualToLength]</a></li>
    </ul>
</div>

<h2>Details for Tenant IP Network '@Model.CidrNameIncludingIpv4LessThanOrEqualToLength'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ipv4Prefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ipv4Prefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ipv4Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ipv4Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ipv4LessThanOrEqualToLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ipv4LessThanOrEqualToLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CidrNameIncludingIpv4LessThanOrEqualToLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CidrNameIncludingIpv4LessThanOrEqualToLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowExtranet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowExtranet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpRoutingBehaviour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpRoutingBehaviour)
        </dd>
    </dl>
 </div>
<hr />
<form asp-action="">
    <div class="form-actions no-color">
        <a mind-edit-btn-link="true" asp-action="Edit" asp-route-tenantIpNetworkId="@Model.TenantIpNetworkId">Edit</a> |
        <a mind-nav-link-back-btn="true" asp-action="GetAllByTenantID" asp-route-tenantID="@Model.TenantId">Back to Tenant IP Networks</a>
    </div>
</form>