@model IEnumerable<Mind.WebUI.Models.TenantIpNetworkViewModel>

@{
    ViewData["Title"] = "Tenant IP Networks";
}

<div id="crumbs">
    <ul>
        <li><a href="/Home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/Tenant/GetAll"><i class="fa" aria-hidden="true"></i> Tenants</a></li>
        <li class="active"><a href="#"><i class="fa" aria-hidden="true"></i>Tenant IP Networks - [@ViewBag.Tenant.Name]</a></li>
    </ul>
</div>

@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}


<h2>IP Networks for Tenant '@ViewBag.Tenant.Name'</h2>

<p>
    <a mind-create-btn-link="true" asp-action="Create" asp-route-tenantId="@ViewBag.Tenant.TenantId"
       data-toggle="tooltip" data-placement="right"
       title="Create a new IP network">Create New</a>
</p>
<p>

<table class="table table-striped table-hover mind-grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CidrNameIncludingIpv4LessThanOrEqualToLength)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody class="mind-grid-body-scroll-lg">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CidrNameIncludingIpv4LessThanOrEqualToLength)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td align="right">
                    <a mind-grid-btn-link="true" asp-action="Edit" asp-route-tenantIpNetworkId="@item.TenantIpNetworkId">Edit</a>
                    <a mind-grid-btn-link="true" asp-action="Details" asp-route-tenantIpNetworkId="@item.TenantIpNetworkId">Details</a>
                    <a mind-grid-btn-link="true" asp-action="Delete" asp-route-tenantIpNetworkId="@item.TenantIpNetworkId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="hidden" name="tenantId" id="tenantId" value="@ViewBag.Tenant.TenantId" />

<a mind-nav-link-back-btn="true" asp-controller="Tenant" asp-action="GetAll">Back to Tenants</a>


@section Scripts {
    <script type="text/javascript">

        (function ($) {

            // Initialise all tool-tips

            $('[data-toggle="tooltip"]').tooltip();

        }(jQuery));

    </script>
 }
