@model IEnumerable<Mind.WebUI.Models.TenantViewModel>

@{
    ViewData["Title"] = "Tenants";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item active">Tenants</li>
</ol>


@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h2>Tenants</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { tenantId = item.TenantId }) |
                    @Html.ActionLink("Details", "Details", new { tenantId = item.TenantId }) |
                    @Html.ActionLink("Delete", "Delete", new { tenantId = item.TenantId }) |
                    @Html.ActionLink("Devices", "GetAllByTenantID", "TenantDevice", new { tenantId = item.TenantId }) |
                    @Html.ActionLink("Attachments", "GetAllByTenantID", "ProviderDomainAttachment", new { tenantId = item.TenantId }) |
                    @Html.ActionLink("Attachment Sets", "GetAllByTenantID", "AttachmentSet", new { tenantId = item.TenantId }) |
                    @Html.ActionLink("IP Networks", "GetAllByTenantID", "TenantIpNetwork", new { tenantId = item.TenantId }) |
                    @Html.ActionLink("Communities", "GetAllByTenantID", "TenantCommunity", new { tenantId = item.TenantId }) |
                    @Html.ActionLink("Community Sets", "GetAllByTenantID", "TenantCommunitySet", new { tenantId = item.TenantId }) |
                    @Html.ActionLink("Multicast Groups", "GetAllByTenantID", "TenantMulticastGroup", new { tenantId = item.TenantId })
                </td>
            </tr>
        }
    </tbody>
</table>
