@model IEnumerable<Mind.WebUI.Models.TenantViewModel>

@{
    ViewData["Title"] = "Tenants";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item active">Tenants</li>
</ol>


@{await Html.RenderPartialAsync("_MessagingPartial");}
@{await Html.RenderPartialAsync("_ValidationModelErrorPartial");}

<h2>Tenants</h2>

<p>
    <a asp-action="Create" mind-create-btn-link="true">Create New</a>
</p>
<table class="table table-striped table-hover mind-grid">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="mind-grid-body-scroll-md">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="custom-control custom-checkbox">
                    <input id="tenant_checkbox_@item.TenantId" type="checkbox" class="form-check-input custom-control-input" data-query-parameter="tenantId=@item.TenantId" />
                    <label class="form-check-label custom-control-label" for="tenant_checkbox_@item.TenantId"></label>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td align="right">
                <a mind-grid-btn-link="true" asp-action="Edit" asp-route-tenantId="@item.TenantId">Edit</a>
                <a mind-grid-btn-link="true" asp-action="Details" asp-route-tenantId="@item.TenantId">Details</a>
                <a mind-grid-btn-link="true" asp-action="Delete" asp-route-tenantId="@item.TenantId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<hr />
<div class="card-deck">
    <a href="/#" data-href="/TenantDomainDevices/GetAllByTenantId?" class="card custom-card">
        <img class="card-img-top mx-auto d-block" src="~/images/devices.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Devices</h5>
            <p class="card-text">Create and manage the lifecycle of devices</p>
        </div>

    </a>
    <a href="/#" data-href="/ProviderDomainAttachment/GetAllByTenantId?" class="card custom-card">
        <img class="card-img-top mx-auto d-block" src="~/images/attachment.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Attachments</h5>
            <p class="card-text">Create and manage the lifecycle of Attachments to Sigma</p>
        </div>
    </a>
    <a href="/#" data-href="/AttachmentSet/GetAllByTenantId?" class="card custom-card">
        <img class="card-img-top mx-auto d-block" src="~/images/attachment-set.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Attachment Sets</h5>
            <p class="card-text">Create and manage the lifecycle of Attachment Sets</p>
        </div>
    </a>
    <a href="/#" data-href="/TenantIpNetwork/GetAllByTenantId?" class="card custom-card">
        <img class="card-img-top mx-auto d-block" src="~/images/ip-networks.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">IP Networks</h5>
            <p class="card-text">Create and manage the lifecycle of IP Networks</p>
        </div>
    </a>
</div>
<br />
<div class="card-deck">
    <a href="/#" data-href="/TenantCommunity/GetAllByTenantId?" class="card custom-card">
        <img class="card-img-top mx-auto d-block" src="~/images/communities.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Communities</h5>
            <p class="card-text">Create and manage the lifecycle of Communities</p>
        </div>
    </a>
    <a href="/#" ata-href="/TenantCommunitySet/GetAllByTenantId?" class="card custom-card">
        <img class="card-img-top mx-auto d-block" src="~/images/community-sets.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Community Sets</h5>
            <p class="card-text">Create and manage the lifecycle of Community Sets</p>
        </div>
    </a>
    <a href="/#" data-href="/TenantMulticastGroup/GetAllByTenantId?" class="card custom-card">
        <img class="card-img-top mx-auto d-block" src="~/images/router.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Multicast Groups</h5>
            <p class="card-text">Create and manage the lifecycle of Multicast Groups</p>
        </div>
    </a>
    <a href="/#" data-href="/VPN/GetAllByTenantId?" class="card custom-card">
        <img class="card-img-top mx-auto d-block" src="~/images/network.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Virtual Private Networks</h5>
            <p class="card-text">Create and manage the lifecycle of VPNs</p>
        </div>
    </a>
</div>
<div class="modal fade" id="selectItemModal" tabindex="-1" role="dialog" aria-labelledby="selectItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectItemModalLabel">No items are selected</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Select a tenant from the list by clicking the checkbox
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="multipleItemsSelectedModal" tabindex="-1" role="dialog" aria-labelledby="multipleItemsSelectedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="multipleItemsSelectedModalLabel">Multiple items are selected</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Select only one tenant from the list
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        (function ($) {

            var tenantId = Mind.Utilities.getCookie("tenantId");
            if (tenantId !== "") {

                var $input = $('.form-check-input[data-query-parameter = "tenantId=' + tenantId + '"]');
                if ($input.length === 1) {
                    $input[0].checked = true;
                }
            }

            $(".custom-card").click(function (e) {
                e.preventDefault();

                var $inputs = $(".form-check-input:checkbox:checked");
                if ($inputs.length === 0) {

                    // No items are checked
                    $("#selectItemModal").modal();

                }
                else if ($inputs.length > 1) {

                    // More than one checked item
                    $("#multipleItemsSelectedModal").modal();
                }
                else {

                    var href = $(this).data("href");
                    var queryParameter = $inputs.data('query-parameter');
                    window.location.href = href + queryParameter;
                }
            });

        }(jQuery));

    </script>
}
