@model SCM.Models.ViewModels.AttachmentViewModel

@{
    ViewData["Title"] = "Attachment Details";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Infrastructure/Index">Infrastructure</a></li>
    <li class="breadcrumb-item"><a href="/InfrastructureAttachment/GetAll">Infrastructure Attachments - [@Model.Device.Name]</a></li>
    <li class="breadcrumb-item active">Details - [@Model.Name]</li>
</ol>

<h2>Details for Attachment '@Model.Name'</h2>

@{await Html.RenderPartialAsync("_MessagingPartial");}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Device.Name)
        </dd>
        @if (Model.IsMultiPort)
    {
        <dt>
            @Html.DisplayNameFor(model => model.IsMultiPort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMultiPort)
        </dd>
}
        @if (Model.IsBundle)
    {
        <dt>
            @Html.DisplayNameFor(model => model.IsBundle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBundle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BundleMinLinks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BundleMinLinks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BundleMaxLinks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BundleMaxLinks)
        </dd>
}
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.SiteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Device.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Plane)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plane.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentRole.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLayer3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLayer3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTagged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTagged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttachmentBandwidth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttachmentBandwidth.BandwidthGbps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoutingInstance.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoutingInstance.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoutingInstance.AdministratorSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoutingInstance.AdministratorSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoutingInstance.AssignedNumberSubField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoutingInstance.AssignedNumberSubField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubnetMask)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubnetMask)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mtu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mtu.MtuValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<form asp-action="">
    <div class="form-actions no-color">
        <a asp-action="GetAll" >Back to Infrastucture Attachments List</a>
    </div>
</form>